body {
	background-color: #f7f4cd;
}

img {
	float: none;
	width: 100%;
	height: 100%;
	border-style: dotted;
}

.Input {
	float:none ;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 50%;
}

