body {
	background-color: #cfcdf7;
}

.Input {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 50%;
	float: right;
}

.Textarea {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 50%;
}

.float {
	margin-left: 20px;
}